html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: #2e3339;
  color: #fff;
  font-family: bressay-devanagari, sans-serif;
  font-weight: 400;
  text-align: center;
  font-style: normal;
  font-size: 1.5em;
}
#header {
  display: flex;
  justify-content: center;
  margin: 2em 0 0.5em;
}
#header .header-logo img {
  width: 250px;
}
#introduction {
  margin: 2em 0 0 0;
}

